<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ShopcarMapper">

	<!--<sql id="userColumns">USERNAME,NAME,PASSWORD,RIGHTS,STATUS,ROLE_ID</sql>-->
	<!-- 订单列表(分页) -->
	<select id="shopcarlistPage" parameterType="Page" resultType="pd" useCache="false">
		select
		s.id,
		s.user_id,
		s.goods_id,
		s.goods_type,
		s.name,
		s.quantity,
		s.price,
		s.addTime
		from FARM_SHOPCARTS s
		where 1=1
		<if test="pd.user_id != null and pd.user_id != ''"><!-- 角色检索 -->
			and s.user_id=#{pd.user_id}
		</if>
		order by s.addTime desc
	</select>

	
</mapper>